---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<h2>Conference Proceedings</h2>
<ul>
  {% for post in site.conferences reversed %}
      <li>
        <strong>
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
        </strong>
        <br>
        <small>{{ post.authors }}.</small>
        <br>
        <small><em>in Proceedings of {{ post.venue }}</em>, {{ post.date | date: "%Y" }}</small>
        <br>
        {% if post.award %}
        <small style="color: red;"><b>{{ post.award }}</b></small>
        {% endif %}
      </li>
  {% endfor %}
</ul>

<h2>Journal Articles</h2>
<ul>
  {% for post in site.journals reversed %}
      <li>
        <strong>
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
        </strong>
        <br>
        <small>{{ post.authors }}.</small>
        <br>
        <small><em> in Proceedings of {{ post.venue }}</em>, {{ post.date | date: "%Y" }}</small>
        <br>
        {% if post.award %}
        <small style="color: red;"><b>{{ post.award }}</b></small>
        {% endif %}
      </li>
  {% endfor %}
</ul>

<h2>Theses</h2>
<ul>
  {% for post in site.theses reversed %}
      <li>
        <strong>
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
        </strong>
        <br>
        <small>{{ post.authors }}.</small>
        <br>
        <small><em> in Proceedings of {{ post.venue }}</em>, {{ post.date | date: "%Y" }}</small>
        <br>
        {% if post.award %}
        <small style="color: red;"><b>{{ post.award }}</b></small>
        {% endif %}
      </li>
  {% endfor %}
</ul>



