---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<ul>
  {% for post in site.publications reversed %}
    <li>
      <strong>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </strong>
      <br>
      {{ post.authors }}. <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}.
    </li>
  {% endfor %}
</ul>



