---
layout: archive
title: "Invited Talks"
permalink: /talks/
author_profile: true
---

<ul> 
  {% for post in site.talks reversed %}
      {% if post.title %}
      <li>
        <strong>
          {% if post.external_url %}
            <a href="{{ post.external_url }}" target="_blank">{{ post.title }}</a> <span style="float:right;"><small>{{ post.date_ }}</small></span>
          {% else %}
            {{ post.title }} <span style="float:right;"><small>{{ post.date_ }}</small></span>
          {% endif %}
        </strong>
        <br>
        <small>
          <em>{{ post.venue }}</em>, <em>{{ post.location }}</em>
        </small>
      </li>
      {% endif %}
  {% endfor %}
</ul>
