---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<ul>
  {% for post in site.talks reversed %}
      <li>
        <strong>
          {% if post.external_url %}
            <a href="{{ post.external_url }}" target="_blank">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
        </strong>
        <br>
        <small><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}.</small>
      </li>
  {% endfor %}
</ul>